.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.hero {
    background: #e3e3e3;
    padding: 2rem 0.5rem;
}
.hero h1 {
    font-size: 2.5rem;
}
.hero p {
    font-size: 1.2rem;
    color: #666;
}

.benefit {
    background: #f4f4f4 !important;
    padding: 1.5rem 0 !important;
}

.how-it-works ul {
    list-style-type: none;
    padding: 0;
}

.how-it-works li {
    font-size: 1.2rem;
    margin: 10px 0;
}

.cta {
    // background: #01012b;
    color: white;
    text-align: center !important;
}

.cta h2 {
    font-size: 2rem;
}