<div class="container-fluid mb-5">
    <mat-card appearance="outlined" class="hero" [style]="'box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;'">
        <mat-card-header>
          <mat-card-title>
            <h2 class="text-dark ">Showcase Your Professional Journey with Ease</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Create a stunning portfolio website by simply filling out your work experience, skills, and projects. No coding required!</p>
        </mat-card-content>
        @if(!isLoggedIn){
          <mat-card-actions align="end" class="my-2" >
            <button mat-raised-button class="text-light app-bg" [routerLink]="['/account/register']">Get Started for Free</button>
          </mat-card-actions>
        } @else {
          <mat-card-actions align="end" class="my-2" >
            <button mat-raised-button class="text-light app-bg" [routerLink]="['/pro-dashboard']">Go To Dashboard</button>
          </mat-card-actions>
        }
        
    </mat-card>
    
    <div class="container px-4 py-5">
        <div class="row gx-2">
          <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
            <div class="p-3 benefit border text-center rounded bg-light inset-box">Effortless Profile Creation</div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
            <div class="p-3 benefit border text-center rounded bg-light inset-box">Customizable Portfolio Website</div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
            <div class="p-3 benefit border text-center rounded bg-light inset-box">Showcase Your Skills & Projects</div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
            <div class="p-3 benefit rounded text-center border bg-light inset-box">Stay Updated with Ease</div>
          </div>
        </div>
    </div>

    <section class="how-it-works text-center">
        <h2>How It Works</h2>
        <ul>
            <li><strong>1.</strong> Sign Up & Fill Your Details</li>
            <li><strong>2.</strong> Deploy Your Portfolio Website</li>
            <li><strong>3.</strong> Share & Impress</li>
        </ul>
    </section>
    
    <div class="card text-center cta app-bg">
        <div class="card-body">
          <h2 class="card-title">Start Building Your Professional Portfolio Today</h2>
          <div class="mt-5">
            @if(isLoggedIn){
              <button mat-raised-button class="bg-light text-dark" [routerLink]="['/pro-dashboard']">Dashboard</button>
            } @else{
              <button mat-raised-button class="bg-light text-dark" [routerLink]="['/account/register']">Sign Up</button>
            }
          </div>
        </div>
    </div>
</div>