<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container-fluid">
		<!-- <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a> -->
        <button mat-icon-button (click)="toggleShowSidebar()">
            @if(isSideBarOpened){
                <mat-icon>cancel</mat-icon>
            } @else {
                <mat-icon>menu</mat-icon>
            }
        </button>
        <span class="fw-bolder mx-3" [routerLink]="['/']" [style]="'cursor: pointer'">
            <img src="assets/images/brand-logo.svg" alt="Logo">  
        </span>
		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button 
            mat-icon-button
            class="navbar-toggler" 
            type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <mat-icon>menu</mat-icon>
        </button>
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav d-flex justify-content-end w-75 px-5">
                <li class="nav-item active" role="button">
                    <mat-icon class="text-primary">facebook</mat-icon>
                </li>
			</ul>
		</div>
	</div>
</nav>