@if(isSidebarOpened){
    <div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
        <div class="header">
          <h1 class="title"></h1>
          <div class="toggle" (click)="handleSidebarToggle()">
            @if(isExpanded){
                <mat-icon>chevron_left</mat-icon>
            } @else {
                <mat-icon>chevron_right</mat-icon>
            }
          </div>
        </div>
        <div class="content">
          <div class="link">
            <div class="content py-3" [routerLink]="['/']" [routerLinkActive]="'active'">
              <div class="icon">
                <mat-icon>home</mat-icon>
              </div>
              <div class="title">Home</div>
            </div>
          </div>
          @if(isLoggedIn){
            <div class="link">
                <div class="content py-3" [routerLink]="['/dashboard']" [routerLinkActive]="'active'">
                    <div class="icon">
                        <mat-icon>dashboard</mat-icon>
                    </div>
                    <div class="title">Dashboard</div>
                </div>
            </div>
          }
          <div class="link">
            <div class="content py-3" [routerLink]="['/about']" [routerLinkActive]="'active'">
              <div class="icon">
                <mat-icon>info</mat-icon>
              </div>
              <div class="title">About</div>
            </div>
          </div>
          <div class="link">
            <div class="content py-3" [routerLink]="['/contact']" [routerLinkActive]="'active'">
              <div class="icon">
                <mat-icon> forum</mat-icon>
              </div>
              <div class="title">Contact Us</div>
            </div>
          </div>
          <div class="link">
            <div class="content py-3" [routerLink]="['/faqs']" [routerLinkActive]="'active'">
              <div class="icon">
                <mat-icon>help</mat-icon>
              </div>
              <div class="title">FAQs</div>
            </div>
          </div>
          @if(isLoggedIn){
            <div class="link" >
              <div class="content py-3 text-danger" [routerLinkActive]="'active'" (click)="openLoginDialog()">
                <div class="icon">
                  <mat-icon>power_settings_new</mat-icon>
                </div>
                <div class="title">Logout</div>
              </div>
            </div>
            <div class="link" >
              <div class="content py-3" [routerLink]="['/profile']" [routerLinkActive]="'active'">
                <div class="icon">
                  <mat-icon>account_circle</mat-icon>
                </div>
                <div class="title">Profile</div>
              </div>
            </div>
          } @else {
            <div class="link" >
              <div class="content py-3 text-success" [routerLinkActive]="'active'" (click)="openLoginDialog()">
                <div class="icon">
                  <mat-icon>login</mat-icon>
                </div>
                <div class="title">Login</div>
              </div>
            </div>
            <div class="link" >
              <div class="content py-3 text-primary" [routerLinkActive]="'active'" (click)="openRegisterDialog()">
                <div class="icon">
                  <mat-icon>person_add</mat-icon>
                </div>
                <div class="title">Register</div>
              </div>
            </div>
          }
        </div>
    </div>
}