<div class="container-fluid">
    <div class="row">
        <div class="col-sm-0 col-md-3 col-lg-4"></div>
        <div class="col-sm-12 col-md-6 col-lg-4 rounded border app-bg-rgb text-white" [style]="'min-height: 30vh;'">
            <p class="h4 pt-2 pb-0 mb-0">Login</p>
            <hr class="mt-0 pt-0"/>
            <form [formGroup]="loginForm" (ngSubmit)="ProcessLogin()">
                <div class="">
                    <mat-form-field class="w-100">
                        <mat-label>Enter your email</mat-label>
                        <mat-icon matSuffix>drafts</mat-icon>
                        <input matInput name="emailAddress" placeholder="example@email.com" formControlName="emailAddress">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                      <mat-label>Enter your password</mat-label>
                      <input matInput name="password" [type]="hide() ? 'password' : 'text'" formControlName="password"/>
                      <mat-icon matSuffix (click)="clickEvent($event)" class="point">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <span class="mt-0 mb-2">
                    <p class="linked text-info m-0 w-75" [routerLink]="['/account/register']">Don't have an account?</p>
                    <p class="linked text-danger m-0 w-75" [routerLink]="['/account/reset-password']">Forgot password?</p>
                </span>
                <div class="row mt-0 pt-0 mx-1 mb-3 mt-2">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="submit" class="app-bg text-white w-100" disabled={{loading}}>
                            @if(loading){
                                <mat-spinner class="my-3 m-auto" [diameter]="30"/>
                            } @else {
                                Login
                            }
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="button" class="bg-secondary text-light w-100" (click)="appService.goBack()" disabled={{loading}}>Back</button>
                    </div>
                </div>
            </form>           
        </div>
        <div class="col-sm-0 col-md-3 col-lg-4"></div>
    </div>
</div>