<mat-dialog-content class="shadow-lg bg-secondary text-light">
    <header>
        <p class="fs-4">Register</p>
        <hr />
    </header>
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>First Name</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="text" [formControl]="firstNameFormControl" placeholder="John" [errorStateMatcher]="errorMatcher">
                    @if (firstNameFormControl.hasError('required')) {
                        <mat-error class="pb-1">First Name is required</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Last Name</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input class="w-100" matInput type="text" [formControl]="lastNameFormControl" placeholder="Doe" [errorStateMatcher]="errorMatcher">
                    @if (lastNameFormControl.hasError('required')) {
                        <mat-error class="pb-1">Last Name is required</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="text" placeholder="Middle Name" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix>drafts</mat-icon>
                    <mat-label>Email</mat-label>
                    <input class="w-100" matInput type="email" [formControl]="emailFormControl" placeholder="example@email.com" [errorStateMatcher]="errorMatcher">
                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                      }
                    @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is required</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Password</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input matInput type="password" [formControl]="passwordFormControl" placeholder="Password" [errorStateMatcher]="errorMatcher">
                    @if (passwordFormControl.hasError('required')) {
                        <mat-error>Password is required</mat-error>
                    }
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <mat-icon matPrefix>lock</mat-icon>
                    <input class="w-100" matInput type="password" [formControl]="cPasswordFormControl" placeholder="Confirm Password" [errorStateMatcher]="errorMatcher">
                    @if (cPasswordFormControl.hasError('required')) {
                        <mat-error>Confirm Password is required</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-0 pb-0">
            <div class="col-md-7 mb-0 pb-0">
                <mat-form-field class="w-100">
                    <mat-label>Phone Number</mat-label>
                    <mat-icon matPrefix>phone</mat-icon>
                    <input matInput type="text" placeholder="+2348012345678">
                </mat-form-field>
            </div>
            <div class="col-md-5 mb-0 pb-0">
                <mat-form-field class="w-100">
                    <mat-label>Gender</mat-label>
                    <mat-select [(ngModel)]="value">
                        @for (option of options; track option) {
                            <mat-option [value]="option.value">{{option.label}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <span>
            <p class="linked text-info pb-2 m-0" (click)="openLoginDialog()">Have have an account?</p>
        </span>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="shadow-lg bg-secondary">
    <button mat-raised-button class="bg-primary text-light my-1">Register</button>
    <button mat-raised-button mat-dialog-close class="bg-dark text-light my-1">Cancel</button>
</mat-dialog-actions>