<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button mat-icon-button (click)="toggleShowSidebar()">
            @if(isSideBarOpened){
                <mat-icon>cancel</mat-icon>
            } @else {
                <mat-icon>menu</mat-icon>
            }
        </button>
        <span class="fw-bolder mx-3" [routerLink]="['/']" [style]="'cursor: pointer'">
            <span class="text-danger">Pro</span>
            <span class="text-secondary">files</span>
        </span>
        <span class="toolbar-spacer"></span>
        @if(loggedIn){
            <button mat-icon-button (click)="toggleLogin()">
                <mat-icon class="text-danger">power_settings_new</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="text-secondary">account_circle</mat-icon>
            </button>
        } @else{
            <button mat-icon-button (click)="toggleLogin()">
                <mat-icon class="text-success">login</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="text-primary">person_add</mat-icon>
            </button>
        }
    </div>
</nav>