<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
	<div class="container-fluid">
		<!-- <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a> -->
        <button mat-icon-button (click)="toggleShowSidebar()">
            @if(isSideBarOpened){
                <mat-icon>cancel</mat-icon>
            } @else {
                <mat-icon>menu</mat-icon>
            }
        </button>
        <span class="fw-bolder mx-3" [routerLink]="['/']" [style]="'cursor: pointer'">
            <span class="text-danger">Pro</span>
            <span class="text-secondary">files</span>
        </span>
		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button 
            mat-icon-button
            class="navbar-toggler" 
            type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            <mat-icon>menu</mat-icon>
        </button>

		<!-- Step 2: Add the ngbCollapse directive to the element below. -->
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav d-flex">
				@if(loggedIn){
                    <button mat-icon-button (click)="toggleLoginDialogue()">
                        <mat-icon class="text-danger">power_settings_new</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon class="text-secondary">account_circle</mat-icon>
                    </button>
                } @else{
                    <button mat-icon-button (click)="toggleLoginDialogue()">
                        <mat-icon class="text-success">login</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon class="text-primary" (click)="openRegisterDialog()">person_add</mat-icon>
                    </button>
                }
			</ul>
		</div>
	</div>
</nav>