<mat-tab-group>
    <mat-tab label="Available Tags.">
        <ng-template matTabContent>
            <app-tags></app-tags>
        </ng-template>
    </mat-tab>
    <mat-tab label="Personal Info.">
        <ng-template matTabContent>
            <app-info-api></app-info-api>
        </ng-template>
    </mat-tab>
    <mat-tab label="Experience">
        <ng-template matTabContent>
            <app-experience-api></app-experience-api>
        </ng-template>
    </mat-tab>
    <mat-tab label="Education">
        <ng-template matTabContent>
            <app-education-api></app-education-api>
        </ng-template>
    </mat-tab>
    <mat-tab label="Certifications">
        <ng-template matTabContent>
            <app-certifications-api></app-certifications-api>
        </ng-template>
    </mat-tab>
    <mat-tab label="Skills">
        <ng-template matTabContent>
            <app-skills-api></app-skills-api>
        </ng-template>
    </mat-tab>
    <mat-tab label="Projects">
        <ng-template matTabContent>
            <app-projects-api></app-projects-api>
        </ng-template>
    </mat-tab>
</mat-tab-group>