<div class="container-fluid mb-5">
    <div class="row mb-5">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>
        <div class="col-sm-12 col-md-10 col-lg-8 rounded border app-bg-rgb text-white" [style]="'min-height: 30vh;'">
            <p class="h4 pt-2 pb-0 mb-0">Register</p>
            <hr class="mt-0 pt-0"/>
            <form [formGroup]="registerForm" (ngSubmit)="ProcessRegistration()">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>First Name</mat-label>
                            <mat-icon matSuffix>person</mat-icon>
                            <input matInput name="firstName" placeholder="John" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Last Name</mat-label>
                            <mat-icon matSuffix>person</mat-icon>
                            <input matInput name="lastName" placeholder="Doe" formControlName="lastName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Middle Name</mat-label>
                            <mat-icon matSuffix>person</mat-icon>
                            <input matInput name="middleName" formControlName="middleName">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Email Address</mat-label>
                            <mat-icon matSuffix>drafts</mat-icon>
                            <input matInput name="emailAddress" placeholder="example@email.com" formControlName="emailAddress">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Enter Password</mat-label>
                            <input matInput name="password" [type]="isHidden ? 'password' : 'text'" formControlName="password"/>
                            <button
                              mat-icon-button
                              matSuffix
                              (click)="clickEvent($event)"
                              [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="isHidden"
                            >
                              <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Enter Confirm Password</mat-label>
                            <input matInput name="confirmPassword" [type]="isHidden ? 'password' : 'text'" formControlName="confirmPassword"/>
                            <button
                              mat-icon-button
                              matSuffix
                              (click)="clickEvent($event)"
                              [attr.aria-label]="'Hide password'"
                              [attr.aria-pressed]="isHidden"
                            >
                              <mat-icon>{{isHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-7">
                        <mat-form-field class="w-100">
                            <mat-label>Phone Number</mat-label>
                            <mat-icon matSuffix>phone</mat-icon>
                            <input matInput name="phoneNumber" type="tel" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-5">
                        <mat-form-field class="w-100">
                            <mat-label>Gender</mat-label>
                            <mat-select name="gender" formControlName="gender">
                                @for (gender of genderOptions; track gender) {
                                    <mat-option [value]="gender.value">{{gender.label}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <span>
                    <p class="linked text-info m-0" [routerLink]="['/account/login']">Have have an account?</p>
                    <mat-checkbox class="mb-3" name="terms" formControlName="terms">
                        <span class="text-light">Accept </span> <span class="linked text-info" [routerLink]="['/terms-and-conditions']">Terms and Conditions</span>
                    </mat-checkbox>
                    @if(!isTermAccepted){
                        <p class="text-danger">Please accept the terms and conditions</p>
                    }
                </span>
                <div class="row mt-0 pt-0 mx-1 mb-3">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="submit" class="app-bg text-white w-100">Register</button>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button class="bg-secondary text-light w-100" (click)="goBack()">Back</button>
                    </div>
                </div>
            </form>           
        </div>
        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <div class="my-2 py-2"></div>
</div>