<div class="container py-5">
    <div class="card-container inset-box p-3">
        <div>
            <p class="fs-3 fw-bold">Fetch Experience Details</p>
            <app-api-key />
            <div>
                <p class="fs-5 fw-bold pt-3">Query</p>
<pre class="mt-3 p-0 px-3 app-pre">
<code class="app-code">
query{{ '{' }}
    experiences {{ '{' }}
        id
        organization
        startDate
        endDate
        jobTitle
        accomplishments
        location {{ '{' }}
            city
            state
            country
            longitude
            longitude
        {{ '}' }}
    {{ '}' }}
{{ '}' }}
</code>
</pre>
            </div>
        </div>
    </div>
</div>