.content {
    margin-left: 60px;
    transition: 0.3s;
    &.sidebarExpanded {
      margin-left: 180px;
    }

    &.isSidebarClosed{
        margin-left: 0;
    }
}

@media only screen and (max-width: 767px) {
    .content {
      margin-left: 60px;
      &.sidebarExpanded {
          margin-left: 60px;
      }

      &.isSidebarClosed{
        margin-left: 0;
      }
    }
}