<div class="container-fluid mb-5">
    <div class="row mb-5">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>
        <div class="col-sm-12 col-md-10 col-lg-8 rounded border app-bg-rgb text-white" [style]="'min-height: 30vh;'">
            <p class="h4 pt-2 pb-0 mb-0">Add Education Details</p>
            <hr class="mt-0 pt-0"/>
            <form [formGroup]="experienceForm" (ngSubmit)="ProcessAddExperience()">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Organization</mat-label>
                            <mat-icon matSuffix>work</mat-icon>
                            <input matInput name="organizationName" placeholder="University of Nigeria" formControlName="organizationName">
                            <mat-error appFieldErrors></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Job Title</mat-label>
                            <mat-icon matSuffix>person</mat-icon>
                            <input matInput name="jobTitle" formControlName="jobTitle">
                            <mat-error appFieldErrors></mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" name="startDate" formControlName="startDate">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker startView="year" [startAt]="startDateTime"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <mat-form-field class="w-100">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="dpicker" placeholder="MM/DD/YYYY" name="endDate" formControlName="endDate" [hidden]="endDateDisabled">
                            <mat-hint>
                                <mat-checkbox (change)="onCheckboxChange($event)">
                                    <span class="text-light">Still working here?</span>
                                </mat-checkbox>
                            </mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="dpicker" [disabled]="endDateDisabled"></mat-datepicker-toggle>
                            <mat-datepicker #dpicker startView="year" [startAt]="startDateTime"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>City/Town</mat-label>
                            <mat-icon matSuffix>room</mat-icon>
                            <input matInput name="city" formControlName="city">
                            <mat-error appFieldErrors></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <mat-form-field class="w-100">
                            <mat-label>Country</mat-label>
                            <mat-select name="country" formControlName="country">
                                @for (country of countries; track $index) {
                                    <mat-option [value]="country.Name">{{country.Name}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div formArrayName="accomplishments" class="mb-3">
                        @for(accomplishment of getAccomplishments().controls; track $index){
                            <div class="d-flex">
                                <mat-form-field class="w-100 mb-0 pb-0">
                                    <mat-label>Accomplishment</mat-label>
                                    <textarea matInput placeholder="What you accomplished"
                                    cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="2"
                                    name={{$index}}
                                    [formControlName]="$index"
                                    ></textarea>
                                </mat-form-field>
                                <mat-icon class="text-danger point" (click)="removeAccomplishment($index)">delete_outline</mat-icon>
                            </div>
                        }
                        <span class="linked text-white" (click)="addAccomplishment()">Add Accomplishments</span> 
                        <small class="px-1 text-warning">({{numberOfAllowedAcc}} left)</small>
                        @if(isMaxAccReached){
                            <br /><small class="text-danger">You can add a maximum of 5 accomplishments!</small>
                        }
                    </div>
                </div>
                <div class="row mt-0 pt-0 mx-1 mb-3">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="submit" class="app-bg text-white w-100" disabled={{loading}}>Save</button>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="button" class="bg-secondary text-light w-100" (click)="goBack()" disabled={{loading}}>Back</button>
                    </div>
                </div>
            </form>           
        </div>
        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <div class="my-2 py-2"></div>
</div>