<div class="container mb-5">
    <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card-container inset-box" style="min-height: 30vh;">
                @if(loading){
                    <div class="p-5">
                        <mat-spinner 
                            [diameter]="70"
                            class="m-0 m-auto"
                        />
                    </div>
                } @else if(!loading && error){
                    <app-alert
                        [alertInputs]="alert"
                    />
                } @else if (profile && profileSummary) {
                    <div class="p-3">
                        <div>
                            <div class="profile-container">
                                <img src="{{profile.photoUrl | imageUrl }}" alt="Profile Picture" class="profile-pic {{genderColor}}" [className]="">
                                <mat-icon class="fs-5 p-1 point text-primary" style="padding: -30px;" (click)="openPhotoUploadDialog()">
                                    {{profile.photoUrl ? 'edit' : 'add_a_photo' }}
                                </mat-icon>
                            </div>
                            <p class="text-center mb-0 pb-0">
                                <span class="fs-3">{{profile.otherName | initials:profile.firstName:profile.lastName }}</span>
                                <mat-icon class="fs-5 p-1 point text-secondary" (click)="openProfileDetailsUpdateDialog()">edit</mat-icon>
                            </p>
                            @if(profile.location){
                                <p class="text-center pt-0 mt-0 text-muted">
                                    <span class="">{{profile.location.city}}, {{profile.location.country}}.</span>
                                </p>
                            }
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <p class="mb-0 pb-0">
                                    <span class="fw-bold py-1">Email:</span>
                                    <span class="px-1">{{profile.email}}</span>
                                </p>
                                <p class="py-0 my-0">
                                    <span class="fw-bold py-1">Phone:</span>
                                    <span class="px-1">
                                        {{profile.phoneNumber}}
                                    </span>
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <p class="mb-0 pb-0">
                                     <span class="fw-bold py-1">Registered:</span>
                                    <span class="px-1" style="font-size: 15px;">{{profile.createdOn | date: 'MMM d, y.h:mm a'}}</span>
                                </p>
                                <p class="py-0 my-0">
                                    <span class="fw-bold py-1">Logged In:</span>
                                    <span class="px-1" style="font-size: 15px;">{{profile.lastLogin | date: 'MMM d, y.h:mm a'}}</span>
                                </p>
                            </div>  
                        </div>
                        <hr />
                        <div class="row">
                            <p class="fs-6 fw-bold border-bottom pb-0 mb-1">Profile Summary</p>
                            <div class="row m-auto">
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2 carded" [routerLink]="['/educations']">
                                    <div class="text-center p-2 rounded inset-box card-main fw-normal">
                                        Education: {{profileSummary.education}}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2 carded" [routerLink]="['/experiences']">
                                    <div class="text-center p-2 rounded inset-box card-main fw-normal">
                                        Experience: {{profileSummary.experience}}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2 carded" [routerLink]="['/skills']">
                                    <div class="text-center p-2 rounded inset-box card-main fw-normal">
                                        Skills: {{profileSummary.skills}}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2 carded" [routerLink]="['/projects']">
                                    <div class="text-center p-2 rounded inset-box card-main fw-normal">
                                        Projects: {{profileSummary.projects}}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2 carded" [routerLink]="['/certifications']">
                                    <div class="text-center p-2 rounded inset-box card-main fw-normal">
                                        Certifications: {{profileSummary.certifications}}
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 mb-2 carded" [routerLink]="['/career-summary']">
                                    <div class="text-center p-2 rounded inset-box card-main fw-normal">
                                        Career Summary
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <p class="fs-6 fw-bold border-bottom pb-0 mb-1">Social Media</p>
                            <div class="my-0 py-0 d-flex justify-content-end">
                                <p class="linked" (click)="goToSocialMedia(profile.id)">Add Social Media</p>
                            </div>
                            <app-socials [data]="profile.socialMedia"/>
                        </div>
                        <hr />
                        <div>
                            <div class="d-flex justify-content-between">
                                <p class="fs-6 fw-bold border-bottom pb-0 mb-1">Account Completion: {{barWidth}}</p>
                                <mat-icon class="fs-5 p-1 m-0 text-primary" matTooltip="{{tips}}" [matTooltipPosition]="'before'">info</mat-icon>
                            </div>
                            <div class="row mx-0">
                                <div 
                                    class="progress-bar m-0 p-0"
                                    [style.--progress-color]="barColor"
                                    [style.--progress-width]="barWidth"
                                >
                                <div class="p-0 progress red-progress"></div>
                                </div>
                                <div class="mt-3 row m-auto">
                                    @if(!profileSummary.canGenerateApiKey){
                                        <small class="text-warning">{{tasksText}}</small>
                                    }
                                    <div class="col-sm-12 col-md-6 my-1 py-2 bg-secondary m-auto">
                                        <span class="d-flex justify-content-between align-content-center">
                                            @if(profileSummary.canGenerateApiKey || profileSummary.apiKey){
                                                <span class="text-white pt-2">***************</span>
                                            } @else {
                                                <span class="text-danger py-1">xxxxxxxxxxxxxxx</span>
                                            }
                                            @if(profileSummary.canGenerateApiKey && apiKey){
                                                <span (click)="copy()"
                                                >
                                                    @if(showCopyMessage){
                                                        <span class="text-light py-2 px-2 copy-message">Copied!</span>
                                                    } @else {
                                                        <mat-icon class="text-white point py-1">filter_none</mat-icon>
                                                    }
                                                </span>
                                            } @else {
                                                <span>
                                                    <mat-icon class="text-danger py-1">clear</mat-icon>
                                                </span>
                                            }
                                        </span>
                                    </div>
                                    <div class="col-sm-12 col-md-6 my-1 d-flex justify-content-center">
                                        <button 
                                            class="text-center" 
                                            mat-raised-button 
                                            disabled={{!profileSummary.canGenerateApiKey}} 
                                            (click)="generateApiKey()">
                                            @if(keyGenerating){
                                                <mat-spinner 
                                                    class="mx-0"
                                                    [diameter]="30"
                                                    mode="indeterminate"
                                                />
                                            } @else {
                                                @if(profileSummary.apiKey){
                                                    Regenerate API Key
                                                } @else {
                                                    Generate API Key
                                                }
                                            }
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <p class="fs-6 fw-bold border-bottom pb-0 mb-1">Manage Account</p>
                            <div class="row">
                                <p class="mb-0 pb-0 d-flex justify-content-between">
                                    <span class="py-1">Password: ********</span>
                                   <span class="linked" (click)="openChangePasswordDialog()">Change</span>
                                </p>
                                <p class="mb-0 pb-0 d-flex justify-content-between">
                                    <span class="py-1">Location: {{profile.location | address }}</span>
                                   <span class="linked" (click)="openLocationDialog()">{{profile.location ? 'Update' : 'Add' }}</span>
                                </p>
                                <p class="mb-0 pb-0 d-flex justify-content-between">
                                    <span class="py-1"> 
                                        CV/Resume: @if(profile.cvUrl){
                                            <a href="{{profile.cvUrl}}">{{profile.firstName}} CV</a>
                                        } @else {
                                            <span class="text-muted">No file</span>
                                        }
                                    </span>
                                   <span class="linked" (click)="openCvUploadDialog()">{{profile.cvUrl ? 'Update' : 'Upload' }}</span>
                                </p>
                            </div>
                        </div>
                        <hr />
                    </div>
                } @else {
                    <app-alert
                        [alertInputs]="alert"
                    />
                }
            </div>
        </div>
        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
</div>