<div class="max-w-3xl mx-auto p-6 bg-white rounded-lg">
    <div class="px-5">
        <p class="fw-bold fs-4">Terms and Conditions for <app-app-name /></p>
        <p class="fs-6 text-muted">Last updated: {{lastUpdatedDate | date:'MMM d, y. hh:mm a' }}</p>
    
        <div class="fs-6">
            <p>These Terms and Conditions ("Terms") govern your use of the <app-app-name /> platform and any related services ("Service"). By accessing or using the Service, you agree to be bound by these Terms.</p>
            <ol>
                <li>
                    <p class="fw-bold mb-0 pb-0">Acceptance of Terms</p>
                    <p>By accessing or using <app-app-name />, you agree to comply with these Terms and any applicable laws or regulations. If you do not agree with these Terms, you are not authorized to use the Service.</p> 
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Account Creation</p>
                    <p>To use the <app-app-name /> platform, you must create an account by providing accurate and complete information. You are responsible for maintaining the confidentiality of your account credentials and agree to notify us of any unauthorized access.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">User Responsibilities</p>
                    <div class="mb-3">
                        <span>You agree to use the Service only for lawful purposes and in compliance with applicable laws. You are prohibited from engaging in activities that:</span>
                        <ul>
                            <li>Violate the rights of others.</li>
                            <li>Involve unlawful activities, including fraud, impersonation, or distributing harmful software.</li>
                            <li>Interfere with or disrupt the Service or its users.</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Intellectual Property</p>
                    <p>The content, features, and functionality of the <app-app-name /> platform, including but not limited to text, graphics, logos, and software, are owned by <app-app-name /> and are protected by intellectual property laws. You may not copy, modify, or distribute these materials without prior permission.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">API Key Usage</p>
                    <p>Once your profile reaches 80% completion, you may generate an API key to use with pre-built Angular-based Docker images to deploy your portfolio website. You agree to use the API key only for the purpose of showcasing your skills and achievements through the platform.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Data Collection and Use</p>
                    <p>For details on how your personal data is collected and used, please refer to our <a [routerLink]="['/privacy-policy']">Privacy Policy</a>.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Termination of Access</p>
                    <p>We reserve the right to suspend or terminate your access to the Service at our discretion if you violate these Terms or engage in harmful behavior.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Limitation of Liability</p>
                    <p>To the extent permitted by law, <app-app-name /> is not liable for any direct, indirect, incidental, or consequential damages arising from your use or inability to use the Service.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Changes to the Terms</p>
                    <p>We may update these Terms from time to time. Any changes will be posted on this page, and your continued use of the Service constitutes acceptance of the updated Terms.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Governing Law</p>
                    <p>These Terms shall be governed by and interpreted in accordance with the laws applicable in the user's jurisdiction, unless otherwise required by mandatory local laws. Any disputes shall be resolved in accordance with such applicable jurisdiction.</p>
                </li>
                <li>
                    <p class="fw-bold mb-0 pb-0">Contact Information</p>
                    <div>
                        <span>For any questions regarding these Terms, please contact us at:</span>
                        <ul class="px-0 mx-0" style="list-style: none;">
                            <li class="fw-bold"><app-app-name /></li>
                            <li>{{email}}</li>
                            <li>+234 801 234 5678</li>
                        </ul>
                    </div>
                </li>
            </ol> 
        </div>
    </div>
</div>