/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
@use "bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Roboto, "Helvetica Neue", sans-serif; }
.linked {
    cursor: pointer;
    text-decoration: underline;
    color: #0d6efd;
}

.inset-box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -20px, rgba(0, 0, 0, 0.3) 0px 10px 30px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.point {
    cursor: pointer !important;
}

.app-bg {
    background: #0f1017 !important;
}

.app-bg-rgb{
    background: rgba($color: #0f1017, $alpha: 0.5);
}

.card-container{
    background: #e3e3e3;
    border-radius: 0.5rem;
    min-height: 10vh;
}

.docs-card {
    min-height: 20vh;
    color: #bbb8b8;
    box-shadow: 0 14px 18px rgba(255, 255, 255, 0.5);
}

.content-header {
    text-align: center;
    h1 {
        color: #0f1017;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 30px;
    }
}

.carded {
    transition: transform 0.3s;
    font-weight: bolder;
    cursor: pointer;
}

.card-main {
    background: #dad6d6;
}

.carded:hover {
    transform: scale(1.05);
}

.code-holder{
    background: #333;
    color: #fff;
    border-radius: 5px;
    overflow-x: scroll;
    min-height: 5rem;

    code {
        color: white;
        white-space: pre;
    }
}

.app-pre { 
    background: #333; 
    overflow-x: scroll;
    color: #fff;
    border-radius: 5px;
}

.app-code { 
    font-family: monospace; 
    display: block; 
    white-space: pre-wrap; 
}

.copy-message {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    transition: opacity 0.5s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }