<div class="container-fluid">
    <div class="row">
        <div class="app-bg-rgb text-white" [style]="'min-height: 30vh;'">
            <p class="h4 pt-3 pb-0 mb-0">Add Role</p>
            <hr class="mt-0 pt-0"/>
            <form [formGroup]="form" (ngSubmit)="UpdateRecord()">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Role Name</mat-label>
                            <input matInput name="roleName" formControlName="roleName">
                            <mat-error appFieldErrors></mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-0 pt-0 mx-1 mb-3">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="submit" class="app-bg text-white w-100" disabled={{isBusy}}>
                            @if(isBusy){
                                <mat-spinner class="my-3 m-auto" [diameter]="30"/>
                            } @else {
                                Update
                            }
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="button" class="bg-secondary text-light w-100" (click)="appService.closeDialog(dialogRef, data)" disabled={{isBusy}}>Back</button>
                    </div>
                </div>
            </form>    
        </div>
    </div>
</div>