<div class="container-fluid">
    <div class="row">
        <div class="col-sm-0 col-md-3 col-lg-4"></div>
        <div class="col-sm-12 col-md-6 col-lg-4 rounded border app-bg-rgb text-white" [style]="'min-height: 30vh;'">
            <p class="h4 pt-2 pb-0 mb-0">Change Password</p>
            <hr class="mt-0 pt-0"/>
            <form [formGroup]="form" (ngSubmit)="ResetPassword()">
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Password Reset Code</mat-label>
                        <input matInput name="code" formControlName="code">
                        <mat-error appFieldErrors></mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>New Password</mat-label>
                        <input matInput name="newPassword" [type]="hidden() ? 'password' : 'text'" formControlName="newPassword">
                        <mat-error appFieldErrors></mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Confirm New Password</mat-label>
                        <input matInput name="confirmNewPassword" [type]="hidden() ? 'password' : 'text'" formControlName="confirmNewPassword">
                        <mat-error appFieldErrors></mat-error>
                    </mat-form-field>
                    <mat-checkbox
                        (change)="onCheckboxChange($event)"
                    >Show Password </mat-checkbox>
                </div>
                <div class="row mt-0 pt-0 mx-1 mb-3 mt-2">
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button type="submit" class="app-bg text-white w-100">
                            @if(loading){
                                <mat-spinner 
                                    class="m-0 m-auto"
                                    [diameter]="30"
                                    mode="indeterminate"
                                />
                            }@else {
                                Save
                            }
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-1">
                        <button mat-raised-button class="bg-secondary text-light w-100" (click)="appService.goBack()">Back</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-0 col-md-3 col-lg-4"></div>
    </div>
</div>