<div class="container-fluid">
    <div class="row">
        <div class="rounded app-bg-rgb text-white" [style]="'min-height: 30vh;'">
            <p class="h4 pt-2 pb-0 mb-0">Update Profile Details</p>
            <hr class="mt-0 pt-0"/>
            @if(loading){
               <mat-spinner 
                    class="m-0 m-auto"
                    [diameter]="70"
                    mode="indeterminate"
               /> 
            }@else if(!loading && (!profile || error)){
                <app-alert
                    [alertInputs]="alert"
                />
                <div class="m-2">
                    <app-inline-back />
                </div>
            }@else {
                <form [formGroup]="form" (ngSubmit)="UpdateDetails()">
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="w-100">
                                <mat-label>First Name</mat-label>
                                <mat-icon matSuffix>person</mat-icon>
                                <input matInput name="firstName" placeholder="John" formControlName="firstName">
                                <mat-error appFieldErrors></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="w-100">
                                <mat-label>Last Name</mat-label>
                                <mat-icon matSuffix>person</mat-icon>
                                <input matInput name="lastName" placeholder="Doe" formControlName="lastName">
                                <mat-error appFieldErrors></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-7">
                            <mat-form-field class="w-100">
                                <mat-label>Middle Name</mat-label>
                                <mat-icon matSuffix>person</mat-icon>
                                <input matInput name="otherName" formControlName="otherName">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-5">
                            <mat-form-field class="w-100">
                                <mat-label>Gender</mat-label>
                                <mat-select name="gender" formControlName="gender">
                                    @for (gender of genderOptions; track gender) {
                                        <mat-option [value]="gender">{{gender | titlecased:'_' }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="w-100">
                                <mat-label>Phone Number</mat-label>
                                <mat-icon matSuffix>phone</mat-icon>
                                <input matInput name="phone" type="tel" formControlName="phone">
                                <mat-error appFieldErrors></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-0 pt-0 mx-1 mb-3">
                        <div class="col-sm-12 col-md-6 mb-1">
                            <button mat-raised-button type="submit" class="app-bg text-white w-100" disabled={{isBusy}}>
                                @if(isBusy){
                                    <mat-spinner
                                        class="m-0 m-auto"
                                        [diameter]="30"
                                        mode="indeterminate"
                                    />
                                }@else {
                                    Update
                                }
                            </button>
                        </div>
                        <div class="col-sm-12 col-md-6 mb-1">
                            <button mat-raised-button type="button" class="bg-secondary text-light w-100" disabled={{isBusy}} (click)="appService.closeDialog(dialogRef, data)">Back</button>
                        </div>
                    </div>
                </form>  
            }      
        </div>
    </div>
</div>